:root {
    --main-bg-color: brown;
    --blue:#0a7ffb;
    --light-blue: #efefef;
    --white:#EAF4FF;
  }
* {
    font-family: 'Heebo';
    outline: none !important;
}
.social-links {
    position: fixed;
    top: 150px;
    left: 0px;
    color: #ffffff;
}
.adding-pad{
    padding: 8px 10px 8px 40px;
}
#linkedIn{
    background-color: #2867B2;
    transition: padding 1s;
}
#gitHub {
    background-color: #24292e;
    padding-right: 8px;
    transition: padding 1s;
}
#linkedIn:hover {
    padding: 8px 10px 8px 80px;
}
#gitHub:hover {
    padding: 8px 10px 8px 72px;
}

.social-links a {
    color: #ffffff;
}
.navbar {
    background-color: var(--main-bg-color);
}
a.nav-link {
    color: var(--white);
}
.navbar-brand {
    font-family: 'Courgette';
    color: var(--white);
}
.photo-of-me {
    border-radius: 130px;
    
}
.photo-side {
    border-right: 2px solid var(--main-bg-color);
    text-align: center;
}
section.projects {
    background-color: var(--light-blue);
}
section.small-projects {
    background-color: var(--white);
}
.image-side {
        border-right: 1px solid var(--white);
}

.row .three{
    padding: 80px 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #2c3e50;
    color: #ecf0f1;
    text-align: center;
  }
  
  .hamburger .line{
    width: 30px;
    height: 2px;
    background-color: #ecf0f1;
    display: block;
    margin: 8px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .hamburger:hover{
    cursor: pointer;
  }
  #hamburger-6.is-active{
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transition-delay: 0.6s;
    -o-transition-delay: 0.6s;
    transition-delay: 0.6s;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  #hamburger-6.is-active .line:nth-child(2){
    width: 0px;
  }
  
  #hamburger-6.is-active .line:nth-child(1),
  #hamburger-6.is-active .line:nth-child(3){
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  
  #hamburger-6.is-active .line:nth-child(1){
    -webkit-transform: translateY(8px);
    -ms-transform: translateY(8px);
    -o-transform: translateY(8px);
    transform: translateY(8px);
  }
  
  #hamburger-6.is-active .line:nth-child(3){
    -webkit-transform: translateY(-13px) rotate(90deg);
    -ms-transform: translateY(-13px) rotate(90deg);
    -o-transform: translateY(-13px) rotate(90deg);
    transform: translateY(-13px) rotate(90deg);
  }
  section.site-page {
    padding-top: 35px;
}
.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 75px;
}
.site-info-right {
    background-color: #00000014;
    padding-top: 12px;
}